html,
body {
  padding: 0;
  margin: 0;
  font-family: google-sans,'Open Sans', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
}
#pr{
  animation: pulse 5s infinite;
  font-size:40px;
}
@keyframes pulse {
  20% {
    color: red;
  }
  30%{
      color:blue; 
  }
  40%{
      color:green;
  }
  100% {
    color: yellow;
  }
}
#b{width: 100%;
  padding: 12px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}